@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
  background-size: cover;
  margin: 0;
  font-family:'Roboto', sans-serif;
  color: #3f1b6d;
}
a{
  text-decoration: none;
  color: white;
}

header{
  display: flex;
  justify-content:space-between;
  min-height: 70px;
  background-color:#994AFF;
  align-items:center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo{
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo img{
  height: 50px; 
  margin-right: 10px;
}
nav a{
  font-weight: 500;
  padding-right: 10px;
}
nav a:hover{
  color:#3f1b6d;
}
button {
  font-family:'Roboto', sans-serif;
  font-weight: 500;
  border:0px;
  background-color: #7EFF30;
  border-radius: 40px;
  color:#3f1b6d;
  padding: 16px 32px;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer; 
}
button:hover{
  background-color:#3f1b6d;
  color: white;
}
.comp {
  width: 100%;
  display: flex;
  }

.container{
  margin: 0 auto;
  width: 75%;
  max-width: 800px;
  text-align: center;

}

h1{
  font-size: 50px;
}


footer{
  background-color:#3e1b6d2c;
  padding: 4rem 0;
  text-align: center;
}
.fotos{
  border-radius: 20px;
  width:300px;
  height:450px;
  margin: 8%;
}
.fotoscomo{
  border-radius: 20px;
  width:400px;
  height:400px;
  margin: 4%;
}